<h1>Sign up as a new user</h1>
<%% @<%= file_name %>.password = @<%= file_name %>.password_confirmation = nil %>

<%%= error_messages_for :<%= file_name %> %>
<%% form_for :<%= file_name %>, :url => <%= model_controller_routing_name %>_path do |f| -%>
<p><%%= f.label :login %><br/>
<%%= f.text_field :login %></p>

<p><%%= f.label :email %><br/>
<%%= f.text_field :email %></p>

<p><%%= f.label :password %><br/>
<%%= f.password_field :password %></p>

<p><%%= f.label :password_confirmation, 'Confirm Password' %><br/>
<%%= f.password_field :password_confirmation %></p>

<p><%%= submit_tag 'Sign up' %></p>
<%% end -%>
